<h1 mat-dialog-title>Cadastrar Empresa</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cnpj</mat-label>
    <input matInput [(ngModel)]="data.cnpj">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Endereço</mat-label>
    <input matInput [(ngModel)]="data.endereco">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Cadastrar</button>
</div>