.menu {
    display: flex;
    list-style: none;
    float: left;
}

.menu li {
    position: relative;
    float: left;
}

.menu li a {

    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;

}

.menu li a:hover {
color: grey;
}

